@page "{kategoriaId:int}"
@model AcmeShop.Web.Pages.TermekListaModel
@{ Layout = null; }

<h1>@Model.Kategoria.Nev</h1>

<p class="lead">@Model.Termekek.Count elem </p>

<div class="row">
    @foreach (var termek in Model.Termekek)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@termek.Nev</h2>
                    @if (termek.Kategoria != null)
                    {
                        <h4 class="text-secondary">@termek.Kategoria.Nev</h4>
                    }
                    @if (termek.NettoAr.HasValue)
                    {
                        <div class="lead">@termek.NettoAr.Value.ToString("N0") Ft</div>
                        if (termek.Afa.Kulcs.HasValue)
                        {
                            <div class="lead text-muted">@((termek.NettoAr.Value * (1 + termek.Afa.Kulcs.Value / 100)).ToString("N0")) Ft</div>
                        }
                    }
                    <div class='text-capitalize text-@(termek.Raktarkeszlet == 0 ? "danger" : termek.Raktarkeszlet < 5 ? "warning" : "success")'>
                        @(termek.Raktarkeszlet == 0 ? "Nincs raktáron" : termek.Raktarkeszlet < 5 ? "Utolsó darabok" : "Raktáron")
                    </div>
                </div>
            </div>
        </div>
    }
</div>